# Terraform files
*.tfstate
*.tfstate.*
*.backup
*.tfvars
.terraform/
terraform.tfstate
terraform.tfstate.lock.info
.terragrunt-cache/

# .terraform directories can contain sensitive data
.terraform.lock.hcl

# Ignore override files that can contain local settings
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore IDE/Editor specific files
.vscode/
.idea/
